*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    position: relative;
    top: 300px;
 
}
body{
    background-image: url(./21534706_6379114.jpg);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
}





































































































































































































































 